{% extends 'life_class/base.html' %}
{% load staticfiles %}  <!-- 오류 해결.. static tag 사용전에 staticfiles template tag library를 load가 필요하다. -->
{% block cssfile %}
<!-- Cutomize Style -->
<link href="{% static 'css/life_class_write.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body_id %}
<body id="column-detail">
{% endblock %}

{% block content %}
<section class="container ">
    <div class="row">
        <h1 class="page-header text-center">오늘은 어떤 생각에 잠겼나요?</h1>
        <div class="col-xs-12">
            <form class="" role="form" method="post" action="/lifeclass/">
                <div class="form-group">
                    <label class="col-lg-3 control-label">아주 간단한 절차:</label>
                    <div class="col-lg-8">
                        <div class="col-sm-6">
                            <div>
                                <h4 class="outer0 text-center">태어난 해, 월, 성별을 입력해하세요</h4>
                            </div>
                            <br/>
                            <div>
                                <div class="col-xs-4 col-md-4">
                                    <a class="btn btn-info btn-select">
                                        <input type="hidden" class="btn-select-input" id="" name="year" value="" />
                                        <span class="btn-select-value">연도{{ form.lifeclass.year }}</span>
                                        <ul>
                                            <script language="javaScript" >
                                                    for(i=1950; i<2017; ++i)
                                                    document.write("<li value='"+(i<10 ? '0' : '')+ +i+"'>"+(i<10 ? '0' : '')+ +i+"</li>");
                                            </script>
                                        </ul>
                                    </a>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <a class="btn btn-info btn-select">
                                        <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                        <span class="btn-select-value">월</span>
                                        <ul>
                                            <script language="javaScript" >
                                                    for(i=1; i<13; ++i)
                                                    document.write("<li value='"+(i<10 ? '0' : '')+ +i+"'>"+(i<10 ? '0' : '')+ +i+"</li>");
                                             </script>
                                        </ul>
                                    </a>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <a class="btn btn-info btn-select">
                                        <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                        <span class="btn-select-value">성별</span>
                                        <ul>
                                            <li>여자</li>
                                            <li class="selected">남자</li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                            <br/>
                        </div>
                        <div class="col-sm-6 ">
                            <!-- google recaptcha -->
                            <div class="outer0 text-center">
                                {% csrf_token %}
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6LdO1ycUAAAAAIzYwVbR4GbkRk3IC_LuMvD30PRE"></div>

                                </br>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">이야기:</label>
                    <div class="col-lg-8 text-center">
                        <textarea id="inputDescription3" class="form-control" rows="3" placeholder="오늘은"></textarea>
                        <br/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">태그:</label>
                    <div class="col-lg-8">
                        <div class="col-sm-6">
                            <input type="text" class="" placeholder="#태그1" style="min-width: 220px; width: 100%;"> <!-- 자동완셩 기능을 포함시켜 태그를 유지 -->
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="" placeholder="#태그2" style="min-width: 220px; width: 100%;"> <!-- 자동완셩 기능을 포함시켜 태그를 유지 -->
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <br/>
                        <button type="submit" class="btn btn-primary">완료</button>
                        <span></span>
                        <input class="btn btn-default pull-right" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block jsfile %}
<script src="{% static 'js/life_class_write.js' %}"></script>
{% endblock %}