{% extends 'life_class/base.html' %}
{% load staticfiles %}  <!-- 오류 해결.. static tag 사용전에 staticfiles template tag library를 load가 필요하다. -->
{% block cssfile %}
<!-- Cutomize Style -->
<link href="{% static 'css/life_class.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body_id %}
<body id="column-detail">
{% endblock %}

{% block content %}
<section class="container inner30-top">
    <div class="row">
        <div class="col-md-10 col-lg-9 center-block">
            <!-- 칼럼 상세 섹션 -->
            <div class="panel panel-default column-contents outer30-bottom">
                <div class="panel-heading">
                    <header class="header bg-img display-table" style="background-image:url(/static/img/thmb_img_01.jpg);">
                        <div class="display-table-cell vertical-middle">
                            <div class="overlay"></div>
                            <h1>{{ lifeclasses.tags }}</h1>
                            <h1>{{ lifeclasses.year }}년생, {{ lifeclasses.sex }} 의 고민</h1>
                        </div>
                    </header>
                </div>
                <div class="panel-body">
                    <article class="article">
                        <p>{{ lifeclasses.contents }}</p>
                    </article>
                </div>
            </div>
            <!-- END : 칼럼 상세  -->

            <!-- 공감 투표섹션 -->
            <div class="panel panel-default column-vote outer30-bottom">
                <div class="panel-heading">

                        <h4 class="outer0">공감하기</h4>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="graph-container">
                                <!-- value 값으로 차트 가변 -->
                                <canvas class="wb-chart"
                                        data-type="doughnut"
                                        data-label='["공감", "보통", "비공감"]'
                                        data-value="[1210, 540, 128]"
                                        data-bg='["#3cbed0","#74d6e4","#bdebf2"]'></canvas>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-center vot-btn-group">
                                <button type="button" class="btn btn-primary">공감</button>
                                <button type="button" class="btn btn-default">보통</button>
                                <button type="button" class="btn btn-default">비공감</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END : 공감 투표섹션 -->

            <!-- 댓글 섹션 -->
            <div class="panel panel-default comments">
                <div class="panel-heading">
                    <!-- Comment Input-->
                    <div class="form-group comment-input display-table outer30">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="write a comment...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">입력</button>
                             </span>
                        </div>
                    </div>
                    <!-- END : Comment Input-->
                    <h4 class="outer0">14 Comments</h4>
                    <!-- END : Comment Input-->
                </div>
                <div class="panel-body">

                    <!-- Comments -->
                    <ul class="list-unstyled outer0">
                        <li class="comment-item">
                            <div class="comment-text">
                                Really grateful for the summer internship I just secured with Puma. It was so great consulting with them for my project, now i’m working for them! #employed
                            </div>
                            <div class="comment-func">
                                <span><a href=""><i class="icon-wb-like"></i></a></span>
                                <span><a href=""><i class="icon-wb-heart"></i></a></span>
                                <span><a href=""><i class="icon-wb-hate"></i></a></span>
                            </div>
                        </li>
                        <li class="comment-item">
                            <div class="comment-text">
                                Really grateful for the summer internship I just secured with Puma. It was so great consulting with them for my project, now i’m working for them! #employed
                            </div>
                            <div class="comment-func">
                                <span><a href=""><i class="icon-wb-like"></i></a></span>
                                <span><a href=""><i class="icon-wb-heart"></i></a></span>
                                <span><a href=""><i class="icon-wb-hate"></i></a></span>
                            </div>
                        </li>
                        <li class="comment-item">
                            <div class="comment-text">
                                Really grateful for the summer internship I just secured with Puma. It was so great consulting with them for my project, now i’m working for them! #employed
                            </div>
                            <div class="comment-func">
                                <span><a href=""><i class="icon-wb-like"></i></a></span>
                                <span><a href=""><i class="icon-wb-heart"></i></a></span>
                                <span><a href=""><i class="icon-wb-hate"></i></a></span>
                            </div>
                        </li>
                        <li class="comment-item">
                            <div class="comment-text">
                                Really grateful for the summer internship I just secured with Puma. It was so great consulting with them for my project, now i’m working for them! #employed
                            </div>
                            <div class="comment-func">
                                <span><a href=""><i class="icon-wb-like"></i></a></span>
                                <span><a href=""><i class="icon-wb-heart"></i></a></span>
                                <span><a href=""><i class="icon-wb-hate"></i></a></span>
                            </div>
                        </li>
                    </ul>

                    <!-- Pagination -->
                    <nav class="text-center">
                        <ul class="pagination outer0">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="icon-fa-left-dir"></i></span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="icon-fa-right-dir"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- END : Pagination -->
                </div>
            </div>
            <!-- END : 댓글 섹션 -->
        </div>
    </div>
</section>
{% endblock %}