{% extends 'life_class/base.html' %}
{% load staticfiles %}  <!-- 오류 해결.. static tag 사용전에 staticfiles template tag library를 load가 필요하다. -->
{% block cssfile %}
<!-- Cutomize Style -->
<link href="{% static 'css/life_class.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body_id %}
<body id="bookmark">
{% endblock %}

{% block content %}
<!-- Sub Navigation -->
<div class="nav-underline">
    <div class="container">
        <div class="pull-left">
            <ul class="nav">
                <li role="presentation" class="active"><a href="">전체</a></li>
                <li role="presentation"><a href="">맞춤 1</a></li>
                <li role="presentation"><a href="">맞춤 2</a></li>
            </ul>
            <div class="dropdown nav-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    전체
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">맞춤 1</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">맞춤 2</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">맞춤 3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END : Sub Navigation -->

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="editor-big-search outer30">
                <div class="input-group input-search">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="icon-wb-search"></i></button>
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Repeat -->

        {% for lifeclass in lifeclasses %}

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{% url 'life_class_detail' pk=lifeclass.pk %}" target="_self">
                    <img class="img-responsive" src="{% static 'img/thmb_img_01.jpg' %}"/>
                </a>
                <div class="caption">
                    <h3 class="title">{{ lifeclass.tags }}</h3> <!-- tags 으로 수정해야함 -->
                    <h6 class="title">{{ lifeclass.year }}, {{ lifeclass.sex }}의 고민 </h6>
                    <div class="graph">
                            <span class="band">
                                <!-- 넓이 값으로 가변 -->
                                <span class="value" style="width: 60%;"></span>
                            </span>
                        <a href="" class="icon"><i class="icon-wb-heart"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- END : Repeat -->
    </div>

    <div class="row">
        <!-- Infinite More Button-->
        <div class="col-md-12">
            <div class="inner30 text-center">
                <a class="btn btn-default">More</a>
            </div>
        </div>
        <!-- END : Infinite More Button-->
    </div>

</div>
{% endblock %}
{% block add_button %}
<div class="add_btn">
    <button type="button" class="btn btn-primary btn-round" onclick="location.href='{% url 'life_class_write' %}'">+</button>
    </i>
    </a>
</div>
{% endblock %}
